#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 4px 20px;
    background-color: white;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.15);
}
.head_img {
    width: 4.5em
}
.head_img:hover {
    cursor: pointer;
}
.zoom_img {
    width: 0.7em;
    padding-left: 0.5em;
}
#body_search {
    border: 1px solid #DCDCDC;
    color: #DCDCDC;
    background: #F5F5F5;
    border-radius: 8px;
    margin: 0.9em auto;
    padding: 6px 1em;
    height: 24px;
}
#body_search:hover {
    border-color: burlywood;
}
.search_input {
    background: #F5F5F5;
    border: none;
    outline: none;
    width: 38em;
}
.log {
    margin: 0.5em 2em;
    color: burlywood; /*#FFEBCD*/
    border: 1px solid burlywood;
    border-radius: 8px;
    padding: 12px 28px;
}
.log:hover {
    cursor: pointer;
    color: #FFEBCD;
}
.log:last-child {
    background-color: burlywood;
    color: white;
}
.log:last-child:hover {
    background-color: #FFEBCD;
}
#top_body {
    margin: 6em 13.2em;
}
.big_news_name {
    margin: 0px 2em;
    padding: 0px 0;
}
#flex_part {
    display: flex;
    justify-content: center;
}
.news_part {
    background: black;
    color: white;
    border: 1px solid none;
    border-radius: 15px;
    width: 13em;
    margin: 1em 1em;
    padding: 1em 1em;
}
.news_part:hover {
    cursor: pointer;
}
.news_name {
    margin: 2em 0em;
    font-weight: bold;
    color: white;
}
.user_name {
    font-size: 0.8em;
    font-weight: bold;
    color: white;
}
