body {
    background: #f5f6f7;
    margin: 0 5em;
}
#wrap {
    position: relative;
}
#header {
    text-align: center;
    align-items: center;
    position: relative;
    padding: 106px 0 53px;
    box-sizing: border-box;
}
.log_h {
    text-decoration: none;
}
.blind {
    font-size: 2em;
    font-weight: bold;
    color: darksalmon;
}
#body {
    text-align: center;
    margin: 1em 0;
}
.log_input {
    padding: 1em 1em;
    text-align: left;
    outline: none;
    border: 1px solid #DCDCDC;
    border-radius: 5px;
    font-size: .9em;
    width: 28em;
}
.log_submit {
    width: 32.5em;
    height: 3.5em;
    border: 1px solid darksalmon;
    border-radius: 5px;
    outline: none;
    background: darksalmon;
    color: white;
}
.log_submit:hover {
    cursor: pointer;
    border-color: lightsalmon;
    background: lightsalmon;
}
@media 